<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CRanilist · Home</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="navbar is-primary is-radiusless" role="navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">CRanilist</a>
          <a class="navbar-item is-hidden-desktop" href="https://github.com/dshoreman/cranilist" target="_blank">
            <span class="icon" style="color: #333;">
              <i class="fa fa-github"></i>
            </span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/dshoreman/cranilist" target="_blank">Github</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <div class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></div>
    </div>
    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
